<!DOCTYPE html>
<html lang="en">

<head>
    <title>Utopía Beauty Salón | Sitio Web</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <link rel="stylesheet" href="~/lib/template/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/lib/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/lib/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/lib/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/lib/template/css/select.dataTables.min.css">
    <link rel="stylesheet" href="~/lib/template/css/vertical-layout-light/style.css">
    <!-- Favicons 12 -->
    <link href="~/lib/assets/img/123.png" rel="icon">
</head>

<body>

    <header class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Utopía Beauty Salón</a>
            <a href="@Url.Action("IniciarSesion", "Login")" class="text-primary">
                <i class="ti-home"></i> 
            </a>
        </div>
    </header>

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                &copy; Utopía Beauty Salón. Todos los derechos reservados.
            </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Siguenos en <a href="https://facebook.com/tupagina" target="_blank">Facebook</a> y <a href="https://instagram.com/tupagina" target="_blank">Instagram</a>.
            </span>
        </div>
    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="~/template/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template/vendors/chart.js/Chart.min.js"></script>
    <script src="~/template/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/template/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/template/js/dataTables.select.min.js"></script>
    <script src="~/template/js/off-canvas.js"></script>
    <script src="~/template/js/hoverable-collapse.js"></script>
    <script src="~/template/js/template.js"></script>
    <script src="~/template/js/settings.js"></script>
    <script src="~/template/js/todolist.js"></script>
    <script src="~/template/js/dashboard.js"></script>
    <script src="~/template/js/Chart.roundedBarCharts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>