@{
    ViewData["Title"] = "Home Page";
}


<main id="main">


	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center" style="background-color: black; color: white;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
					<h1>Utopía Beauty Salón</h1>
					<h2>Plataforma Web Oficial del Salón de Belleza | Costa Rica</h2>
					<div class="d-flex justify-content-center justify-content-lg-start">
						<a href="#about" class="btn-get-started scrollto">Ubicación | Contacto</a>
						<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
					</div>
				</div>

				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
					<img src="~/lib/assets/img/123.png" class="img-fluid animated" alt="" style="width: 400px; height: auto;">
				</div>
			</div>
		</div>
	</section><!-- End Hero -->
	<!-- ======= Clients Section ======= -->
	<section id="clients" class="clients section-bg">
		<div class="container">

			<div class="row" data-aos="zoom-in">

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/lib/assets/img/clients/Cliente7.jpg" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/lib/assets/img/clients/Cliente10.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/lib/assets/img/clients/Cliente3.jpg" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/lib/assets/img/clients/Cliente4.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/lib/assets/img/clients/Cliente5.png" class="img-fluid" alt="">
				</div>

				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="~/lib/assets/img/clients/Cliente6.png" class="img-fluid" alt="">
				</div>

			</div>

		</div>
	</section><!-- End Cliens Section -->
	<!-- ======= About Us Section ======= -->
	<section id="about" class="about">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Nosotros:</h2>
			</div>

			<div class="row content">
				<div class="col-lg-6">
					<p>
						<strong>Visión:</strong>
						"Ser reconocidos como el principal destino de belleza en Costa Rica, destacando por nuestro compromiso con la excelencia, la innovación y la satisfacción del cliente. Nos esforzamos por seguir siendo líderes en la industria de la belleza, ofreciendo servicios vanguardistas y utilizando productos de alta calidad. Buscamos expandir nuestra presencia en la comunidad, fortaleciendo las relaciones con nuestros clientes y siendo un referente de integridad y profesionalismo en el mundo de la belleza.
					</p>

				</div>
				<div class="col-lg-6 pt-4 pt-lg-0">
					<p>
						<strong>Misión:</strong>
						"En Utopía Beauty Salón, nuestra misión es resaltar la belleza única de cada persona, ofreciendo servicios de alta calidad y personalizados que reflejen la esencia y estilo de nuestros clientes. Nos comprometemos a proporcionar un ambiente acogedor y profesional, donde la experiencia de belleza sea más que un simple servicio, sino un momento de auténtico cuidado personal.
					</p>
					<a href="#" class="btn-learn-more">Contáctanos</a>
				</div>
			</div>

		</div>
	</section><!-- End About Us Section -->
	<!-- ======= Services Section ======= -->
	<section id="services" class="services section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Servicios</h2>
				<p>Descubre la excelencia en nuestros servicios. Desde cortes de cabello modernos y coloración vibrante hasta relajantes tratamientos faciales y rejuvenecedores masajes. En Utopía Beauty Salón, nos esforzamos por ofrecerte una experiencia única que resalte tu belleza y bienestar.</p>
			</div>


			<div class="row">
				<div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-brush"></i></div>
						<h4><a href="">Servicio de Uñas</a></h4>
						<p>Descubre nuestra atención especializada para uñas. Ofrecemos manicuras y pedicuras que te harán lucir y sentirte increíble.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-palette"></i></div>
						<h4><a href="">Coloración</a></h4>
						<p>Nuestros expertos en coloración te ayudarán a encontrar el tono perfecto para resaltar tu estilo único.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-color"></i></div>
						<h4><a href="">Nanoplastia</a></h4>
						<p>Experimenta la innovadora nanoplastia para lograr un cabello suave, brillante y libre de frizz.</p>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
					<div class="icon-box">
						<div class="icon"><i class="bx bx-face"></i></div>
						<h4><a href="">Maquillaje</a></h4>
						<p>Nuestros artistas del maquillaje te ofrecen servicios personalizados para resaltar tu belleza natural en cualquier ocasión.</p>
					</div>
				</div>
			</div>


		</div>
	</section><!-- End Services Section -->
	<!-- Divisor de Background COlor Blanco -->
	<section class="portfolio">
	</section>

	<!-- Divisor de Background Color Azul Claro:

	<section class="team section-bg">
	</section>

	-->
	<!-- ======= Team Section ======= -->
	<section id="team" class="team section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Team</h2>
				<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
			</div>

			<div class="row">

				<div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
					<div class="member d-flex align-items-start">
						<div class="pic"><img src="~/lib/assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Kaleth Rojas Sánchez</h4>
							<span>Administrador General</span>
							<p>Encargado de la gestión general con enfoque en eficiencia y liderazgo. Siendo excelente en proceso asignado.</p>
							<div class="social">
								<a href=""><i class="ri-twitter-fill"></i></a>
								<a href=""><i class="ri-facebook-fill"></i></a>
								<a href=""><i class="ri-instagram-fill"></i></a>
								<a href=""> <i class="ri-linkedin-box-fill"></i> </a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="member d-flex align-items-start">
						<div class="pic"><img src="~/lib/assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Alejandra Sánchez Arias</h4>
							<span>Master en Color | CEO</span>
							<p>Experta en coloración. Su pasión es crear experiencias únicas con colores asombrosos.</p>
							<div class="social">
								<a href=""><i class="ri-twitter-fill"></i></a>
								<a href=""><i class="ri-facebook-fill"></i></a>
								<a href=""><i class="ri-instagram-fill"></i></a>
								<a href=""> <i class="ri-linkedin-box-fill"></i> </a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
					<div class="member d-flex align-items-start">
						<div class="pic"><img src="~/lib/assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Anthonny Rojas Sánchez</h4>
							<span>Técnico de Informática | Publicidad RRSS</span>
							<p>Apasionado técnico de informática y experto en publicidad en redes sociales</p>
							<div class="social">
								<a href=""><i class="ri-twitter-fill"></i></a>
								<a href=""><i class="ri-facebook-fill"></i></a>
								<a href=""><i class="ri-instagram-fill"></i></a>
								<a href=""> <i class="ri-linkedin-box-fill"></i> </a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
					<div class="member d-flex align-items-start">
						<div class="pic"><img src="~/lib/assets/img/team/team-4.jpg" class="img-fluid" alt=""></div>
						<div class="member-info">
							<h4>Maria José Sánchez</h4>
							<span>Encargada Peinados, Maquillaje y Masajes</span>
							<p>Con más de 5 la industria de la belleza, Maria es una apasionada experta en peinados, maquillaje y masajes.</p>
							<div class="social">
								<a href=""><i class="ri-twitter-fill"></i></a>
								<a href=""><i class="ri-facebook-fill"></i></a>
								<a href=""><i class="ri-instagram-fill"></i></a>
								<a href=""> <i class="ri-linkedin-box-fill"></i> </a>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section><!-- End Team Section -->
	<!-- ======= Frequently Asked Questions Section ======= -->
	<section id="faq" class="faq section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Preguntas Frecuentes</h2>
				<p>
					Gracias por elegir Utopía Beauty Salón. Queremos hacer tu experiencia lo más fácil y placentera posible, y nuestras Preguntas Frecuentes son una herramienta útil para lograrlo.
					Si no encuentras la información que necesitas, no dudes en contactarnos directamente a través de nuestra sección de Contacto. Estamos aquí para ayudarte y proporcionarte la asistencia que necesitas.
				</p>
			</div>

			<div class="faq-list">
				<ul>
					<li data-aos="fade-up" data-aos-delay="100">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">
							¿Cuáles son los servicios que ofrecen en el salón de belleza?
							<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
						</a>
						<div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
							<p>
								Ofrecemos una amplia gama de servicios de belleza, desde cortes de pelo y peinados, hasta coloración, tratamientos faciales, manicuras, pedicuras y mucho más. Nuestro objetivo es realzar tu belleza y hacerte sentir increíble.
							</p>
						</div>
					</li>

					<li data-aos="fade-up" data-aos-delay="200">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">
							¿Necesito programar una cita o aceptan clientes sin cita previa?
							<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
						</a>
						<div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
							<p>
								Recomendamos programar una cita para garantizar que podamos atenderte de manera eficiente. Sin embargo, también aceptamos clientes sin cita previa, siempre y cuando haya disponibilidad en el momento.
							</p>
						</div>
					</li>

					<li data-aos="fade-up" data-aos-delay="300">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">
							¿Cuánto tiempo de anticipación debo reservar mi cita?
							<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
						</a>
						<div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
							<p>
								Sugerimos reservar tu cita con al menos una semana de anticipación para asegurar la disponibilidad deseada. Sin embargo, siempre trataremos de acomodar las citas de último minuto según la disponibilidad.
							</p>
						</div>
					</li>

					<li data-aos="fade-up" data-aos-delay="400">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">
							¿Trabajan con todo tipo de cabello?
							<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
						</a>
						<div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
							<p>
								Sí, nuestros estilistas son expertos en trabajar con una variedad de tipos de cabello. Sea cual sea la textura o longitud de tu cabello, estamos aquí para proporcionar servicios personalizados que se adapten a tus necesidades.
							</p>
						</div>
					</li>

					<li data-aos="fade-up" data-aos-delay="500">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">
							¿Puedo traer a mis hijos al salón mientras recibo un servicio?
							<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
						</a>
						<div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
							<p>
								Apreciamos la tranquilidad en nuestro salón y para garantizar la mejor experiencia para todos, recomendamos dejar a los niños en casa durante tu visita. Sin embargo, entendemos que las circunstancias pueden variar, así que no dudes en consultarnos sobre situaciones especiales.
							</p>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</section><!-- End Frequently Asked Questions Section -->
	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Contacto</h2>
				<p>
					¡Estamos encantados de saber de ti! En nuestra sección de contacto, te ofrecemos una vía directa para establecer una conexión con nuestro equipo. Ya sea que tengas preguntas, comentarios, o simplemente quieras decir hola, estamos aquí para escucharte.
				</p>
			</div>

			<div class="row">
				<div class="col-lg-5 d-flex align-items-stretch">
					<div class="info">
						<div class="address">
							<i class="bi bi-geo-alt"></i>
							<h4>Ubicación:</h4>
							<p>
								Utopía Beauty Salón
							</p>
						</div>

						<div class="email">
							<i class="bi bi-envelope"></i>
							<h4>Correo Electrónico:</h4>
							<p>UtopiaBeautySalon@gmail.com</p>
						</div>

						<div class="phone">
							<i class="bi bi-phone"></i>
							<h4>Teléfono:</h4>
							<p>+506 8918 0032</p>
						</div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.395951469254!2d-84.07062492520778!3d9.900942590199495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e34c171c793b%3A0xd93f42824d46b852!2zVXRvcMOtYSBCZWF1dHkgU2Fsw7Nu!5e0!3m2!1ses-419!2scr!4v1706633765289!5m2!1ses-419!2scr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
					</div>
				</div>

				<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
					<form action="forms/contact.php" method="post" role="form" class="php-email-form">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name">Nombre Completo:</label>
								<input type="text" name="name" class="form-control" id="name" required>
							</div>
							<div class="form-group col-md-6">
								<label for="name">Correo Electrónico:</label>
								<input type="email" class="form-control" name="email" id="email" required>
							</div>
						</div>
						<div class="form-group">
							<label for="name">Asunto:</label>
							<input type="text" class="form-control" name="subject" id="subject" required>
						</div>
						<div class="form-group">
							<label for="name">Descripción mensaje:</label>
							<textarea class="form-control" name="message" rows="10" required></textarea>
						</div>
						<div class="my-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your message has been sent. Thank you!</div>
						</div>
						<div class="text-center"><button type="submit">Enviar Mensaje</button></div>
					</form>
				</div>

			</div>

		</div>
	</section><!-- End Contact Section -->

</main><!-- End #main -->
