@model SalonPrograAvanzadaWeb.Entities.UsuarioRecoverEnt

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo text-center">
                    <img src="~/lib/assets/img/salonutopialogo.jpg" alt="logo">
                </div>
                <form asp-action="Change" asp-controller="Login" class="pt-3" onsubmit="return validarFormulario();">
                    <div class="form-group">
                        <label for="Codigo">Código</label>
                        <input type="text" name="Codigo" class="form-control form-control-lg" placeholder="Escriba aquí...">
                        <span class="error-message" id="codigo-error"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label for="PasswordUser">Contraseña</label>
                        <input type="password" name="PasswordUser" id="PasswordUser" class="form-control form-control-lg" placeholder="Escriba aquí...">
                        <span class="error-message text-danger" id="password-error"></span>
                    </div>
                    <div class="form-group mt-3">
                        <label for="ConfirmPassword">Confirmar Contraseña</label>
                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control form-control-lg" placeholder="Escriba aquí...">
                        <span class="error-message text-danger" id="confirm-password-error"></span>
                    </div>
                    <input type="hidden" name="Email" value="@ViewBag.Email">
                    <span class="error-message">@ViewBag.MensajePantalla</span>
                    <br />

                    <button type="submit" class="btn btn-primary mr-2">Cambiar Contraseña</button>
                </form>

                <div class="new-account mt-3">
                    <p>No tienes una cuenta? <a class="text-primary" href="@Url.Action("RegisterAccount","Login")">Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cuadro de diálogo modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Contraseña cambiada con éxito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¡Tu contraseña ha sido cambiada exitosamente!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    .error-message {
        color: red;
        font-weight: bold;
    }
</style>
@section scripts {
    <script>
        function validarFormulario() {
            var codigo = document.getElementsByName("Codigo")[0].value;
            var password = document.getElementById("PasswordUser").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;
            var isValid = true;

            // Resetear los mensajes de error
            resetErrorMessages();

            // Validación de código temporal
            if (!codigo) {
                displayErrorMessage("codigo", "Introduce el código temporal para reestablecer la contraseña.");
                isValid = false;
            }

            // Validación de contraseña (no más de 20 caracteres)
            if (!password || !/^(?=.*[a-zA-Z])(?=.*\d).{6,15}$/.test(password)) {
                displayErrorMessage("password", "La contraseña debe tener entre 6 y 15 caracteres, contener al menos una letra y al menos un número.");
                isValid = false;
            }

            // Validación de coincidencia de contraseña
            if (password !== confirmPassword) {
                displayErrorMessage("confirm-password", "Las contraseñas no coinciden.");
                isValid = false;
            }

            // Enviar formulario solo si es válido
            if (isValid) {
                // Aquí puedes agregar la lógica para cambiar la contraseña en el backend
                // Y después mostrar el cuadro de diálogo modal si la contraseña se cambió con éxito
                $('#successModal').modal('show');
            }

            return isValid;
        }

        function resetErrorMessages() {
            var errorElements = document.getElementsByClassName("error-message");
            for (var i = 0; i < errorElements.length; i++) {
                errorElements[i].innerText = "";
            }
        }

        function displayErrorMessage(elementId, message) {
            document.getElementById(elementId + "-error").innerText = message;
        }
    </script>
}

